.logo {
	height: 100px;
	margin-top: 1em;
}

.text-uppercase {
	text-transform: uppercase;
}

.links {
	line-height: 50px;
}

.atags-1 {
    margin-right: 30px;
    float: right;
    margin-top: 70px;
}

.container {
	position: relative;
	background-color: #ffecb3 ;
}

.text-center {
	text-align: center;
}

.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
	margin-top: 0;
}

.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #ffecb3 ;
	color: #8c8b8b;
	font-size: 18px;
}

.style2 {
	border-top: 3px double #8c8b8b;
	margin-bottom: 0;
}

h1 {
   text-align: center;
   color: #f8bbd0;
   font-family: 'Lobster Two', cursive;
   font-size: 50px;
}

h4 {
	text-align: center;
	font-family: 'Lobster Two', cursive;
	color: #e57373;
}

a {
	font-family: 'Lobster Two', sans-serif;
	font-size: 25px;
}

h3 {
	font-family: 'Lobster Two', sans-serif;
    color: #4caf50;
    margin-left: 10px;
    float:left;
}

.name {
	float: left;
    padding-top: 40px;
    margin: 0;
    font-family: 'Berkshire Swash', cursive;
    font-size: 60px;
    color: #69f0ae;
}

.img-center{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.img-margin {
    margin: 0;
}

p {
  font-family: 'Cookie', cursive;
  font-size: 30px;
  color: #ff6f00;
  text-align: center;
  vertical-align: center; 
}




